version: '3.8'

services:
  api-v1:
    build:
      context: .
      dockerfile: src/api/v1/Dockerfile
    deploy:
      replicas: 3
    expose:
      - "8000"

  api-v2:
    build:
      context: .
      dockerfile: src/api/v2/Dockerfile
    expose:
      - "8000"

  nginx:
    build:
      context: .
      dockerfile: deployments/nginx/Dockerfile
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - api-v1
      - api-v2
    networks:
      - default

  nginx-exporter:
    image: nginx/nginx-prometheus-exporter:latest
    command: -nginx.scrape-uri http://nginx:80/nginx_status
    depends_on:
      - nginx
    networks:
      - default

  prometheus:
    image: prom/prometheus
    volumes:
      - ./deployments/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus

networks:
  default:
    driver: bridge
